@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.text-justify {
    text-align: justify;
}
.back-top  a {
    text-decoration: none;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .navbar-toggler {
        display: none;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .navbar-nav {
        display: none;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  }

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {  }

